body {
    height: 100%;
}

.GeoContainer {
    background-color: rgb(192,192,192);
    padding: 15px;
    border-radius: 12px;
    margin: 20px;
}

.ForcastContainer {
    background-color: rgb(192,192,192);
    border-radius: 12px;
    padding: 15px;
    margin: 20px;
}

#blankCell {    
    background-color: rgb(192,192,192) !important;
    padding-top: 70px;
    padding-bottom: 70px;
}

#timeHeader > td {
    background-color: lightcoral;
}
    

table {
    width: 100%;
    text-align: center;
}


td {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: forestgreen;
    border: 2.5px solid rgb(192,192,192);
}

